{% extends "base.html" %}
{% load material_form %}
{% block content %}
<div class="row">
    <div class="col s4 m4"></div>
    <div class="col s4 m4">
        <div class="row">
            <div class="s12 m12">
                <p class="flow-text">Login</p>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <button type="submit" name="_submit" class="btn">Submit</button>
        </form>
    </div>
    <div class="col s4 m4"></div>
</div>
{% endblock content %}