{% extends "base.html" %}
{% load material_form %}
{% block content %}
<div class="row">
    <div class="col s4 m4 pull-m2">
        <p class="flow-text">Your bookings.</p>
        <ul class="collection">
            {% for booking in bookings %}
            <li class="collection-item">{{ booking.date_and_time }}</li>
            {% empty %}
            <li class="collection-item">Sorry, no bookings found.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s4 m4">
        <div class="row">
            <div class="s12 m12">
                <p class="flow-text">Book your parking slot below.</p>
                {% if messages %}
                {% for message in messages %}
                <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}" {% endif %}>
                    {{ message }}
                </p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <button type="submit" name="_submit" class="btn">Submit</button>
        </form>
    </div>
    <div class="col s4 m4"></div>
</div>
{% endblock content %}