{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col s2 m2"></div>
    <div class="col s12 m8">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Welcome to BobPark</span>
            </div>
            <div class="card-action">
                <a href="{% url 'login' %}">Book your slot</a>
            </div>
        </div>
    </div>
    <div class="col s2 m2"></div>
</div>
{% endblock content %}